/* Using text shadow to create a 3D effect on text black & white */
h1 {
    color: #000000;
    font-size: 40px;
    text-shadow: hsl(0, 0%, 100%) 3px 3px 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: left;
    
}

/* displaying flex to center content*/
h3 {
    display: flex;
    justify-content: center;
}

/* displaying flex to center content*/
p {
    display: flex;
    justify-content: center;
}
    
/* using font family to change the font of the text, 
link ref in HTML file for google fonts; also used a backup font */

p, li, td, th, caption, h1, h2, h3, h4, h5, h6 {
    font-family: "Playpen sans hebrew", cursive, Georgia, 'Times New Roman', Times, serif ;
    
}

/* Using a linear gradient for the background color as well as CSS box model
to create a picture frame around the edges */
body {
       margin: 0.5em;
       padding: 1em;
       border: 1em groove rgba(0, 0, 0 , 0.5);
       box-sizing: border-box;
       background: linear-gradient( #8dd6f5, #d991f7);
       max-width: 600px;
       min-width: 100px;
       border-collapse: collapse;
        border-width: 1em;
       
       
     }

     /* displaying flex to center content*/
     .contactme{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
       
     }
     /* displaying flex to center content*/
     .connect {
        display: flex;
        justify-content: center;
     }
     /* displaying flex to center content*/
    .programs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* displaying flex to center content*/
    ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style-position: inside;
        
    }

    
/* Using CSS box model with my table in HTML */
table {
    width: 100%;
    margin: 1em auto;
    display: block center;
    border-collapse: collapse;
    overflow-x: auto;
    

}
/* Using CSS box model to set the padding, margin, and border of the table */
th,td {
    border: 2px solid black;
    padding: 1em;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    border-collapse: collapse;
    overflow-x: auto;
    
}
/* Using text shadow to enchance the text black & white */
footer {
        text-shadow: 2px 2px 2px rgb(253, 248, 81);
        margin-top: 30px;
        padding: 25px;
        

        
       }
/* Center aligned text "Courses" on my table to be more readable */
caption {
        font-size: 2em;
        font-weight: bolder;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 2px 2px 2px rgb(222, 3, 204)
         }

   /*using css box model to set the padding, margin, and border of the image */
.pic1 {
        width: 200px;
        height: 200px;
        margin: 1em auto;
        border: #e607b9 5px solid;
        border-radius: 50%;
        object-fit: cover;
            
    }

/* Using box shadow to create a background effect */
.project1 {
        
        transform: scale(1.0);
        transform-origin: top left;
        object-fit: cover;
        display: flex;
        justify-content: center;
        justify-items: center;
        max-width: 100%;
        height: 20.5rem;
        
        }
/* Using css box model to set the padding, margin, and border of the image */
.pic2 {
        
        
        border: #05eaf6 5px solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        margin-top: 15px;
        margin-bottom: 15px;

        
        
    }
/*styling Contact me section with text shadow, font size, and color */
 .contact {  font-size: 25px;
            text-decoration: underline;
            color: rgb(238, 8, 8);
            text-shadow: black 1px 1px 2px;
            font-weight: bold; 
}

    /* When text area is selected, it will have a background color as your typing */
 input:focus {
    background-color: aqua;
}

/* When hovering over the social link, it will change the color and underline the text */
.social-link:hover{
    text-decoration: underline;
    color: #e607b9;
    
    /* centering content using inline-block*/
    .skills {
        display: inline-block;
        justify-content: center;
    }


}
    /* displaying flex to center content*/
    .phone {
        display: flex;
        margin-top: 20px;
        padding-top: 10px;
        justify-content: flex-end;
        color: #e607b9 !important;
        text-decoration: underline !important;

    }

    /* displaying flex to center content*/
    .form {
        display:grid;
        justify-content: center;
        align-items: center;
        
        
    }
    /* aligning text to the left side starting point*/
    .summary {
        text-align: start;
       
    }
    /* adjusting radio buttons to align with text straight across*/
   .morning{
    position: relative;     
    top: 15px;
   }
   .afternoon{
    position: relative;
    top: 15px;
   }
   .evening{
    position: relative;
    top: 15px;
   }

/* changing the color of the placeholder text in the input field */
input:focus::placeholder {
    color: #5251ab;
}

    

/* displaying flex to center content*/
 .name {
        font-size: 2rem;
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        justify-items: center;
        margin-top: -100px;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 10px;

 }
    caption {
        font-size: 1.5em;
    }
    .contact {
        font-size: 20px;
        text-align: center;
    }
    body {
        padding: 1em;
        border-width: 1em;
        max-width: 100%;
        width: 100vw;

    }
    .email {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 10px;
    }

    hr{
        height: 3px;
        background-color: rgba(0, 0, 0 , 0.9);
    }

        @media (max-width: 767px) {
            table{
                display: inline-flex;
                position: relative;
                width: 100%;
            }
            table thead {
                display: inline-flex;
                position: relative;
            }
            table tbody,
            table tr,
            table td {
                display:inline-flex ;
                position: relative;
                width: 100%;
            }
            table tr {
                margin-bottom: 1rem;
                border-bottom: 1px solid black;
            }
            table td {
                text-align: right;
                padding-left: 50%;
                position: relative;
            }
            table td::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 1rem;
                font-weight: bold;
                text-align: left;
            }
            @media (max-width: 767px;) {
                .name .email .phone body {
                    flex-direction: column;
                }
            }
            

            
}
        
    